<section>
		<div class="cut cut-top"></div>
		<div class="container">
			<div class="row intro-tables">
				<div class="col-md-4">
					<div class="intro-table intro-table-first">
						<h5 class="white heading">Servicios preventivos de enfermedades para mascotas</h5>
						<div class="owl-carousel owl-schedule bottom">
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Promocion especial en los siguientes horarios:</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">8:30 - 10:00</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Vacunas</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">10:30 - 12:00</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Otros tratamientos</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">12:30 - 15:00</h5>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Promocion especial en los siguientes horarios:</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">8:30 - 10:00</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Vacunas</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">10:30 - 12:00</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Otros tratamientos</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">12:30 - 15:00</h5>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Promocion especial en los siguientes horarios:</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">8:30 - 10:00</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Vacunas</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">10:30 - 12:00</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Otros tratamientos</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">12:30 - 15:00</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-hover">
						<h5 class="white heading hide-hover">Membresia plus.</h5>
						<div class="bottom">
							<h4 class="white heading small-heading no-margin regular">Registrese el lunes y tendra un</h4>
							<h4 class="white heading small-pt">20% de descuento </h4>
							<a href="#" class="btn btn-white-fill expand">Registrese</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-third">
						<h5 class="white heading">Happy Clients</h5>
						<div class="owl-testimonials bottom">
							<div class="item">
								<h4 class="white heading content">Adquiera el mejor servicio para sus mascotas</h4>
								<h5 class="white heading light author">Vet In House.</h5>
							</div>
							<div class="item">
								<h4 class="white heading content">Obtenga servicios desde la comidad de su casa!</h4>
								<h5 class="white heading light author">Vet In House.</h5>
							</div>
							<div class="item">
								<h4 class="white heading content">Servicios con la mayor calidad </h4>
								<h5 class="white heading light author">Vet In House.</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="services" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Servicios</h2>
				<h4 class="light muted">Servicios a domicilios las 24 hrs del dia</h4>
			</div>
			<div class="row services">
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="img/icons/heart-blue.png" alt="" class="icon">
						</div>
						<h4 class="heading">Servicios clínicos</h4>
						<p class="description">Tratamiento de animales enfermos y control de enfermedades que limitan la producción</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="../../../assets/img/icons/guru-blue.png" alt="" class="icon">
						</div>
						<h4 class="heading">Servicios preventivos de enfermedades</h4>
						<p class="description">Suministro de medicamentos, vacunas y otros productos (v.g. inseminación artificial).

						</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="../../../assets/img/icons/weight-blue.png" alt="" class="icon">
						</div>
						<h4 class="heading">Protección de la salud humana</h4>
						<p class="description">por ejemplo, inspección de productos animales para la venta.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>