	
	
<section id="team" class="section gray-bg">
		<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top">Trabaja con nosotros </h2>
				<h4 class="light muted">En Vet In House!</h4>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('../../../assets/img/team/team-cover1.jpg'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">Veterinario</h3>
								
							</div>
						</div>
						
						<div class="title">
							<h4>Felipe</h4>
							<h5 class="muted regular">Veterinario</h5>
						</div>
						<button data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill">Registrarse</button>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('../../../assets/img/team/team-cover2.jpg'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">Veterinario</h3>
							
							</div>
						</div>
						
						<div class="title">
							<h4>Leandro</h4>
							<h5 class="muted regular">Veterinario</h5>
						</div>
						<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Registrarse</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('../../../assets/img/team/team-cover3.jpg'); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">Veterinario</h3>
								
							</div>
						</div>
						
						<div class="title">
							<h4>Wilinton</h4>
							<h5 class="muted regular">Veterinario</h5>
						</div>
						<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue-fill ripple">Registrarse</a>
					</div>
				</div>
			</div>
		</div>
	</section>